.utility--button{
    text-transform: uppercase;
    background-color: #000000;
    border: 3px solid #FF6363;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f7f7f7;
    letter-spacing: 1px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.5s linear;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.utility--button:hover{
    transform: translate(10px,0);
    border:3px solid #BAFFB4 ;
 }

.utility--button img{
width: 20px;
margin-left: 5px;
}