.result-card--container{
    background-color: rgba(255, 99, 99,0.7);
    width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;

}

.result-card--container img{
    width: 50px;
    height: 50px;
}

.result-card--container h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#f7f7f7
}
