.footer{
    height: 8vh;
    box-sizing: border-box;
    border-top: 4px solid #FF6363;
    color:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer span{
    margin: 0 6px;
    color: #FF6363;
}